@model IEnumerable<signalr_server.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <td>Online?</td>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (ViewBag.connections.ContainsKey(item.Id))
                {
                    <span class="text-success">Online</span>
                }
                else
                {
                    <span class="text-danger">Offline</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="SendCommand" asp-route-id="@item.Id">Send Command</a>
            </td>
        </tr>
}
    </tbody>
</table>
